<% if @photo.errors.any? %>
  tb.photos.photoLegacyUploadErrors("<%= escape_javascript(render 'form') %>");
<% else %>
  tb.photos.photoLegacyUploadComplete(<%= @photo.id %>, "<%= escape_javascript(render :partial => 'photo', :locals => {:photo => @photo}) %>");
<% end %>
