<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(tb.photos.init);
    tb.photos.max_image_upload_size_humanized = tb.photos.getFileSizeHumanized(<%= Spud::Photos.max_image_upload_size %>);
    tb.photos.max_image_upload_size_bytes = <%= Spud::Photos.max_image_upload_size %>;
  </script>
<% end %>
<%= render :template => 'layouts/admin/detail' %>
