<%= content_for :data_controls do %>
  <%= link_to "New Photo Gallery", new_admin_photo_gallery_path, :class => "btn btn-primary", :title => "New Photo Gallery" %>
<% end %>

<%= content_for :detail do %>
  <div id="admin-photo-galleries" class="admin-photo-ui-thumbs">
    <% @photo_galleries.each do |gallery| %>
      <div id="admin-photo-gallery-<%= gallery.id %>" class="admin-photo-ui-thumb" style="background-image:url('<%= gallery.top_photo_url(:spud_admin_small) %>')">
        <h5><%= gallery.title %></h5>
        <div class="admin-photo-ui-thumb-controls">
          <%= link_to '', edit_admin_photo_gallery_path(gallery), :class => 'admin-photos-btn-edit' %>
          <%= link_to '', admin_photo_gallery_path(gallery), :method => :delete, :class => 'admin-photos-btn-delete', :data => {:confirm => 'Are you sure?'} %>
        </div>
      </div>
    <% end %>
  <div>
<% end %>
